
#imgcard{
    height: 150px;
    width: 150px;
}

#montagem {
    float: left;
    display: block;
    width: 55.7em;
    height: 231em;
    text-align: center;
    color: black;
    margin-left: 1em;
    margin-top: 2em;
    padding: 4mm;
    font-size: 0.9em;
    font-family: arial;
    color: black;
}

#escolhidos {
    display: block;
    float: left;
    background: #8FBC8F;
    box-shadow: 0 0 12px rgba(0, 2, 2, 2);
    border: 1px solid white;
    width: 23em;
    height: 60em;
    position: absolute;
    top: 25em;
    right: 4em;
    font-family: arial;
}

/*Configurações da imagem */
#imgmontar {
    height: 150px;
    width: 150px;
    margin-bottom: 35px;
}

#ttmontar {
    width: 1400px;
    height: 4000px;
    margin-right: 70px;
    min-height: 100%;
    position: relative;
    margin: 0;
    text-align: left;
}

#ing {
    background-color: rgba(0, 100, 0, 0.3);
    width: 150px;
    height: 160px;
}

.color {
    background: #8FBC8F;
    font-family: arial;
}

caption{
    font-family: Arial;
    font-size: 20px;
}


.menu ul li {
    background-color: #2F4F4F;
    float: left; /*para que fique lado a lado*/
    width: 200px; /*largura de cada ABA*/
    color: white;
    display: inline; /*Tirar marcador*/
    text-align: center; /*Centralizar texto horizontal*/
    line-height: 40px; /*Centralizar texto vertical*/
    font-size: 25px;
}
/*ajustar o submenu*/

.menu ul li a{
   padding: 0;
   color: white;
}

/*ao passar o mouse*/
.menu ul li a:hover {
    background-color: green;
    color: white;
}

/*ocultar submenu*/
.menu ul ul {
    display: none;
}

.menu ul li:hover > ul{
    display: block;
}

.menu ul li a {
    text-align: right;
    text-decoration: none;
}

#um{
    min-width: 480px;
    text-align: left;
}