/*paginaADM*/
#add{
		float: left;
		display: block;
		text-align: left;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		padding: 1em;
		width: 500px;
		height: 500px;
		top: 25em;
		left: 2em;
		font-family: arial;
		margin-left: 40px;
		margin-top: 40px;
	}

	#add3{
		float: left;
		display: block;
		text-align: center;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		padding: 1em;
		width: 600px;
		height: 500px;
		top: 25em;
		left: 2em;
		font-family: arial;
		margin-left: 70px;
		margin-top: 40px;
	
	}

/*paginaADMpedidos*/
	#add2{
		text-align: center;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		padding: 1em;
		width: 15em;
		height: 14.5em;
		top: 15em;
		left: 40em;
		font-family: arial;
	}

	#ttadm{
	  width: 1300px;
	  height: 1050px;
	  margin-right: 70px;
	  min-height:100%;
	  position:relative;
	  margin: 0;
	  text-align: left;
	}
