 
	#valortotal{

		display: block;
		background: gray;
		box-shadow: 0 0 12px rgba(0,0,0,0.25);
		border: 1px solid;
		width: 25em;
		height: 4em;
		position: fixed;
		top: 40em;
		right: 0;
		font-family: arial;

	}


	#montagem{ 
		float: left;
		display: block;
		width: 34em;
		height: 80em;
		text-align: center;
		color: black;
		background-color: #556B2F; 
		margin-left: 2em;
		margin-top: 2em;
		padding: 4mm;
		font-size: 1.5em;
		font-family: arial;
   	}

	/*.ingrediente td{
		height: 200px;
		width: 200px;
		font-family: arial;
	}*/

	#escolhidos{
		display: block;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		width: 23em;
		height: 18em;
		position: fixed;
		top: 20em;
		right: 1em;
		font-family: arial;
	}

	/*Configurações da imagem */
	#imgmontar{
		height: 170px;
		width: 199px;
		margin-bottom: 35px;
	}

	#ttmontar{
		width: 1900px;
		height: 2000px;
		margin-right: 100px;
		background-color: pink;
	}
