/*TELA DE PAGAMENTO*/
	#pedidos{
		float: left;
		display: block;
		text-align: center;
		font-size: 1.5em;
		margin-left: 3em;
		margin-top: 2em;
		font-family: arial;
	}

	#formasPagamento{
		display: block;
		float: left;
		font-size:1.3em;
		text-align: center;
		margin-top: 2.3em;
		margin-left: 5em;
		font-family: arial;
		width: 310px;
		height: 235px;
	}


	#ttpagamento{
	  width: 1350px;
	  height: 460px;
	  margin-right: 70px;
	  min-height:100%;
	  position:relative;
	  margin: 0;
	  text-align: left;
	}
