
#name {
    font-family: "Arial Black";
    text-align: right;
    background-color: #8FBC8F;
}

#titulocardapio {
    font-family: "Arial Black";
    padding-left: 5%;
}

#textocardapio {
    font-family: arial;
    padding-left: 3%;
    text-align: center;
}

.tab {
    border-color: #aaaaaa;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: orangered;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#listacardapio {
    margin-left: 3%;
}

#ttcardapio {
    width: 93.6rem;
    height: 76rem;
    margin-right: 70px;
    /*min-height: 100%;*/
    position: relative;
    margin: 0;
    text-align: left;
}

#escolhidoscardapio {
    display: block;
    background: #8FBC8F;
    box-shadow: 0 0 12px rgba(0, 2, 2, 2);
    width: 30em;
    height: 18em;
    position: fixed;
    top: 20em;
    right: 2em;
    font-family: arial;
    margin-right: 10%;
    }
		
