
body {
	margin: 0px;
	} 

#id{
	width: 1350px ;
	height: 350px;
}

.mySlides{
	width: 1550px ;
	height: 350px;
	display: none;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: yellow;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#textoinicial{
	float: left;
	display:block;

	color: black;
	text-align: justify;
	font-family: arial;
	background-color: #0B3B0B;
	width: 550px;
	height: 590px;
	margin-right: 70px;
	margin-left: 80px;
	margin-top: 30px;
	}

#videoincial{
	float: left;
	display:block;
	background-color: red;
	width: 2000px;
	height: 2000px;
	margin-top: 50px;
	}

#textoinicial {
	color: orange;
	text-shadow: black 0.1em 0.2em 0.2em;
	padding-right: 2em;
    padding-left: 2em;
    font-size: 1.2em;
    text-indent: 3em;
    font-family: arial;
	}


#ttinicial{
  width: 1400px;
  height: 1400px;
  margin-right: 70px;
  min-height:100%;
  position:relative;
  margin: 0;
  text-align: left;
}

