/*TELA DE PAGAMENTO*/
	#pedidos{
		float: left;
		display: block;
		text-align: center;
		font-size: 1.5em;
		
		margin-top: 2em;
		font-family: arial;
		background-color: yellow;
		top: 100px;
	}

	#formasPagamento{
		display: block;
		float: left;
		font-size:1.3em;
		text-align: center;
		margin-top: 2.3em;
		
		font-family: arial;
		width: 310px;
		height: 235px;
		background-color: red;

		top: 100px;
	}


	#ttpagamento{
	  width: 1400px;
	  height: 560px;
	  margin-right: 70px;
	  min-height:100%;
	  position:relative;
	  margin: 0;
	  text-align: left;
	}
