
#name {
    font-family: "Arial Black";
    text-align: right;
    background-color: #8FBC8F;
}

#titulocardapio {
    font-family: "Arial Black";
    padding-left: 5%;
}

#textocardapio {
    font-family: arial;
    padding-left: 3%;
    text-align: center;
}

.tab {
    border-color: #aaaaaa;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: orangered;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#listacardapio {
display: block;
float: left;
padding-right: 60px;
}

#ttcardapio {
    width: 1350px;
    height:1500px;
    margin-right: 70px;
    position: relative;
    margin: 0;
    text-align: left;
}

#escolhidoscardapio {
    display: block;
    float: left;
    background: #8FBC8F;
    box-shadow: 0 0 12px rgba(0, 2, 2, 2);
    width: 34em;
    height: 21em;
    top: 20em;
    font-family: arial;
    }

  

		
