#add{
		float: left;
		display: block;
		text-align: left;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		padding: 1em;
		width: 26.8em;
		height: 14.5em;
		position: fixed;
		top: 20em;
		left: 2em;
		font-family: arial;
	}
	#add2{
		float: left;
		display: block;
		text-align: center;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		padding: 1em;
		width: 15em;
		height: 14.5em;
		position: fixed;
		top: 20em;
		left: 40em;
		font-family: arial;
	}