/*altura do head*/
head{
	min-height: 100%;
	position: relative;
}
/*alterações no body por cada parte*/
body{
		background-image: url(img.verde.jpg);
		background-repeat: repeat;
		background-size: cover;
		margin: 0;
		padding: 0;
		height: 100%
		}
/*alterações no body por cada parte*/

/*alterações no ul*/
	#div1{
		background-color: black;
		padding-left: 3em;
		}

	#imagens{
		width: 50em;
		height:10em;
	}
	#menu{
		text-align: center;
		font-size: 23px;
		font-family: arial;
	}
/*alterações no ul*/	
	#menu ul{
		margin: 0;
		background-color: #2F4F4F;
		list-style: none;
	}
/*alterações no li*/
	#menu ul li{
		display: inline-block;
		}
/*alterações no a*/
	#menu ul li a{
		padding: 0.2em 0.2em;
		display: inline-block;
		color: white;
		text-decoration: none;
	}
/*Ao passar o mouse, mudar de cor*/
	#menu ul li a:hover{
		color: #8B0000;
	}
/* Colocar imagem no plano de fundo*/
	body{
		background-image: url(img.verde.jpg);
		background-repeat: repeat;
		background-size: cover;
		margin: 0;
		padding: 0;
		height: 100%;
		font-family: arial;
		}
	#textoinicial{
		width: 75em;
		height: 10em;
		float: left;
		display:block;
		color: black;
		text-align: center;
		margin-right: 0em;
		font-family: arial;
	}
	p {
		color: orange;
		text-shadow: black 0.1em 0.2em 0.2em;
		font-family: comic sans ms;
    	padding-right: 5em;
    	padding-left: 5em;
    	font-size: 1.5em;
    	text-indent: 3em;
    	font-family: arial;
	}
/* Configurações das telas de cadastro*/
	/*comcadastro*/
	#cad1 {
		width: 11em;
		height: 8em;
		float: left;
		display: block;
		color: black;
		text-align: center;
		background-color: #8FBC8F; 
		box-shadow: 0 0 12px rgba(0,2,2,2);
		margin-left: 5em;
		margin-top: 2em;
		padding: 4mm;
		font-size: 20px;
		font-family: arial;
   		}
   	/*novocadastro*/	
	#cad2 {
		width: 23em;
		height: 14em;
		float: left;
		display: block;
		text-align: left;
		color: black;
		background-color: #8FBC8F; 
		box-shadow: 0 0 12px rgba(0,2,2,2);
		margin-left: 5em;
		margin-top: 2em;
		padding: 4mm;
		font-size: 1.5em;
		font-family: arial;
   		}
   	/*Esqueceu a senha?*/
   	u{
   		color: blue;
   		font-size: 15px;
   		}

	/*Video pagina cadastro*/  		
   	#cad3{
   		width: 30em;
		height: 20em;
		float: left;
		margin-left: 5em;
		padding: 4mm;
		font-family: arial;
	}
  	#um,#dois,#tres{
  		background-color: red;
  		text-align: right;
  		font-family: arial;
  	}
	#valortotal{
		display: block;
		background: gray;
		box-shadow: 0 0 12px rgba(0,0,0,0.25);
		border: 1px solid;
		width: 25em;
		height: 4em;
		position: fixed;
		top: 40em;
		right: 0;
		font-family: arial;
	}
	#montagem{
		width: 34em;
		height: 80em;
		float: left;
		display: block;
		text-align: center;
		color: black;
		background-color: #556B2F; 
		margin-left: 5em;
		margin-top: 2em;
		padding: 4mm;
		font-size: 1.5em;
		font-family: arial;
   		}
	.ingrediente td{
		height: 200;
		width: 200;
		font-family: arial;
	}
	#escolhidos{
		display: block;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		width: 23em;
		height: 18em;
		position: fixed;
		top: 20em;
		right: 1em;
		font-family: arial;
	}
	#add{
		float: left;
		display: block;
		text-align: left;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		padding: 1em;
		width: 26.8em;
		height: 14.5em;
		position: fixed;
		top: 20em;
		left: 2em;
		font-family: arial;
	}
	#add2{
		float: left;
		display: block;
		text-align: center;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		padding: 1em;
		width: 15em;
		height: 14.5em;
		position: fixed;
		top: 20em;
		left: 40em;
		font-family: arial;
	}

	#rodape {
		position: absolute;
		bottom: -784px;
		font-family: arial;
	}

	#pagamentoPedido{
		float: left;
		display: block;
		text-align: center;
		font-size: 1.5em;
		margin-left: 3em;
		margin-top: 2em;
	}
	#formasPagamento{
		display: block;
		float: left;
		font-size:1.3em;
		text-align: center;
		margin-top: 2em;
		margin-left: 15em;
	}

	/*Configurações de botão*/
	.btn{
		font-family: arial;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		border: none;
		padding: 5px;
		cursor: pointer;
	}
	/*Cor de botão verde*/
	.btn-green{
		background: green;
		color: #000;
		box-shadow:0 5px 0 #006000;
	}
	/*Ao passar mouse no botão*/
	.btn-green:hover{
		background: #006000;
		color: #000;
		box-shadow:0 5px 0 #003f00;
	}
	/*Quando botão é clicado*/
	.btn-green:active{
		position: relative;
		tpo:5px ;
		box-shadow:none;
	}
	/*Cor de botão amarelo*/

	.btn-yellow{
		background: yellow;
		color: #000;
		box-shadow: 0 5px 0 #FFCC00;
	}
	/*Ao passar mouse no botão*/
	.btn-yellow:hover{
		background: #FFCC00;
		color: #000;
		box-shadow:0 5px 0 #999900;
	}
	/*Quando botão é clicado*/
	.btn-yellow:active{
		position: relative;
		tpo:5px ;
		box-shadow:none;
	}

	.btn-red{
		background: red;
		color: #000;
		box-shadow: 0 5px 0 #8A0808;
	}

	/*Ao passar mouse no botão*/
	.btn-red:hover{
		background: #8A0808;
		color: #000;
		box-shadow:0 5px 0 #DF0101;
	}
	/*Quando botão é clicado*/
	.btn-red:active{
		position: relative;
		tpo:5px ;
		box-shadow:none;
	}


	
	#listasanduiche{
		padding-left: 25px;
		width:700px;
		height:400px;
		font-family: arial;

	}

	#textocalabresa{
		padding-left: 12px;
		font-size: 20px;
		font-family: arial;
	}

	#ingd{
		padding-left: 12px;
		font-size: 15px;
		text-align: justify;
	}

	#testando, #imagemcalabresa{
		border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-color: #BDBDBD;
        border-style: solid;
        text-align: left;  
	}

	#dist{
		margin-left: 5px;
		margin-right: 80px;	
	}

	#escolhidoscardapio{
		display: block;
		background: #8FBC8F;
		box-shadow: 0 0 12px rgba(0,2,2,2);
		border: 1px solid;
		width: 23em;
		height: 18em;
		position: fixed;
		top: 20em;
		right: 1em;
		font-family: arial;
	}
